$font-color-day: #000;
$font-color-night: #f3efef;
$nav-color-day: #f5f1ef;
$section-color-day: #f7f4f3;
$nav-color-night:#2b2929;
$section-color-night: #312f2f;
$hover-color: #f0cad0;
$hover-color-section: #ca5d6f;
